<form class="main" [formGroup]="form" (ngSubmit)="submit()">
    <mat-card class="card">
        <mat-card-title class="card-header">
            <p>{{title}} Tarea</p>
        </mat-card-title>
        <mat-card-content>
            <div class="form">
                <div class="row">

                    <mat-form-field class="medium-width">
                        <mat-label>Tarea </mat-label>
                        <mat-select [(ngModel)]="selectedValue" formControlName="taskId" required>
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let task of tasks" [value]="task.id">{{task.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="medium-width">
                        <mat-label>Grupo </mat-label>
                        <mat-select formControlName="groupId" required>
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let jobGroup of jobGroups" [value]="jobGroup.id">{{jobGroup.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="medium-width">
                        <mat-label>Nombre </mat-label>
                        <input matInput formControlName="name" required>
                    </mat-form-field>
                    <mat-form-field class="medium-width">
                        <mat-label>Cron Expression </mat-label>
                        <input matInput placeholder="0 */12 * * *" formControlName="cronExpression" required>
                    </mat-form-field>
                </div>

                <div class="" formGroupName="additions" *ngIf="isBatchJob()">
                    <div class="row">
                        <mat-form-field class="full-width">
                            <mat-label>Entidad </mat-label>
                            <input matInput formControlName="entity">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="medium-width">
                            <mat-slide-toggle formControlName="office" color="primary">Oficinas</mat-slide-toggle>
                        </div>
                        <div floatLabel="always" class="medium-width">
                            <mat-slide-toggle formControlName="agent" color="primary">Agentes</mat-slide-toggle>
                        </div>
                        <div floatLabel="always" class="medium-width">
                            <mat-slide-toggle formControlName="atm" color="primary">Cajeros</mat-slide-toggle>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <mat-form-field class="full-width">
                        <mat-label>Descripción </mat-label>
                        <textarea matInput placeholder="Ex. Esto es una descripción"
                            formControlName="description"></textarea>
                    </mat-form-field>
                </div>

            </div>
        </mat-card-content>
        <mat-card-actions class="form-actions">
            <button type="submit" mat-button [disabled]="form.invalid">Guardar</button>
            <button mat-button routerLink="/dashboard">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</form>