.main {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.form {
    min-width: 640px;
}

.row {
    display: flex;
}

.medium-width {
    width : 50%;
    margin: 5px;
}

.full-width {
    width : 100%;
    margin: 5px;
}

.form-actions {
    text-align: center;
}

.card-header {
    text-align: center;
}