.table_header {
    display        : flex;
    justify-content: space-between;
    flex-basis     : auto;
}

.table_header__options {
    padding: 4px;
}

.table_header__options button {
    margin: 0 4px;
}

.table {
    width     : 100%;
    overflow-x: auto;
}

table {
    width     : 100%;
    overflow-x: auto;
}

.mat-form-field {
    font-size: 14px;
    width    : 100%;
}

.header {
    display: flex;
}

h2 {
    margin : 0px;
    display: inline-block;
}

.loading-shade {
    position       : absolute;
    top            : 0;
    left           : 0;
    bottom         : 56px;
    right          : 0;
    background     : rgba(0, 0, 0, 0.15);
    z-index        : 1;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

tr.row:hover {
    background: whitesmoke;
}